
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body,
input {
font-family: "Poppins", sans-serif;
}


#banner {
  width: 100%;
  height: 360px;
  object-fit: cover;
  margin-bottom: 16px;

}


.navbar {
  height: 150px; 
}


#people{
  height: 350px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.text-center{
  margin: 40px auto -20px auto ;
}